In [1]:
import pandas as pd
import yfinance as yf
from datetime import timedelta, datetime

In [2]:
delta = timedelta(days=-300)# I need 300 days history data
today = datetime.now()

In [3]:
data = yf.download('EURUSD=X', today+delta)

[*********************100%%**********************]  1 of 1 completed

In [4]:
try:
    TEMP = data.copy(deep=True)
    TEMP = TEMP.dropna()
    TEMP.to_csv("data"+"/"+"EURUSD_D1"+".csv")
except:
    print("Unable to load data")

In [5]:
data.tail()

                Open      High       Low     Close  Adj Close  Volume
Date
2024-01-11  1.097514  1.099143  1.093147  1.097514   1.097514       0
2024-01-12  1.098165  1.098660  1.093709  1.098165   1.098165       0
2024-01-15  1.094571  1.095890  1.093410  1.094571   1.094571       0
2024-01-16  1.094571  1.094667  1.086708  1.094571   1.094571       0
2024-01-17  1.088021  1.088732  1.085541  1.086484   1.086484       0