In [1]:
import pandas as pd
import yfinance as yf
from datetime import timedelta, datetime

In [2]:
delta = timedelta(days=-300)# I need 300 days history data
today = datetime.now()

In [3]:
data = yf.download('EURUSD=X', today+delta)

[*********************100%%**********************]  1 of 1 completed

In [5]:
try:
    TEMP = data.copy(deep=True)
    TEMP = TEMP.dropna()
    TEMP.to_csv("data"+"/"+"EURUSD_1D"+".csv")
except:
    print("Unable to load data")

In [6]:
data.tail()

                Open      High       Low     Close  Adj Close  Volume
Date
2024-01-08  1.094224  1.097815  1.092454  1.094224   1.094224       0
2024-01-09  1.095170  1.096732  1.091262  1.095170   1.095170       0
2024-01-10  1.093243  1.096972  1.092335  1.093243   1.093243       0
2024-01-11  1.097514  1.099143  1.093147  1.097514   1.097514       0
2024-01-12  1.098165  1.098660  1.093709  1.098165   1.098165       0